:root {
    --bgColor : ;
}

*::-webkit-scrollbar-track{
    -webkit-box-shadow : inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
    }

    *::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
    }
    *::-webkit-scrollbar-thumb{
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    background: var(--bgColor);
    }

.auth-container{
    width: 500px;
    min-height: 80%;
    background: #fff;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.title{
    font-weight: 800;
    font-size: 40px;
}

.authForm{
    width: 100%;
    margin-top: 10px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authInput{
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    font-size: 18px;
}

.btn{
    cursor: pointer;
    border: none;
    padding: 15px;
    font-size: 18px;
    width: 300px;
    transition: ease-out .2s;
}

.other-auth{
    font-size: 17px;
    color: #76617c;
}

#home-page{
    position: relative;
    display: flex;
    width: 60%;
    height: 80%;
    border-radius: 30px;
    background-color: #f2f2f2;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media screen and (max-width: 600px) {
    #home-page{
        width: 90%;
    }
}