#notes{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    transform : translateX(50px);
}

#notesArea{
    overflow-y: auto;
    transform: translateX(-25px);
    width: 80%;
    height: 100%;
    padding: 15px;
    margin-top: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}

@media only screen and (max-width: 900px) {
    #notesArea {
      grid-template-columns: auto;
    }
  }