#sideMenu{
    position: absolute;
    padding: 20px;
    width: 230px;
    height: 100%;
    background: #fff;
    overflow-y: auto;
    transition: all .4s;
    z-index: 99;
}

.closed-menu{
    background: #2C3333 !important;
    transform: translateX(-180px);
    z-index: 1;
}

.hidden{
    display: none;
}

#profile{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

#profile-img{
    width: 70px;
    height: 70px;
    background-color: #f2f2f2;
    border-radius: 50px;
}

#profile-details{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#menu{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

#menu ul li{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: ease-in-out .3s;
    border-radius: 15px;
}

#menu ul li:hover{
    background-color: #2C3333;
    color: #fff;
}

#logout{
    margin-top: 70px;
    width: 100%;
    font-weight: 300;
    padding: 15px;
    cursor: pointer;
}