#backround{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FDF4F5;
    overflow: hidden;
    z-index: -100;
}

.item{
    position: absolute;
    border-radius: 50%;
}

#item-1{
    width: 500px;
    height: 500px;
    background: #E8A0BF;
    transform: translate(-35%,90%);
}

#item-2{
    width: 550px;
    height: 550px;
    background: #E8A0BF;
    transform: translate(240%,90%);
}

#item-3{
    width: 100px;
    height: 100px;
    background: #E8A0BF;
    transform: translate(-10%,-40%);
}

#item-4{
    width: 250px;
    height: 250px;
    background: #C0DBEA;
    transform: translate(100%,30%);
}

#item-5{
    width: 250px;
    height: 250px;
    background: #C0DBEA;
    transform: translate(400%,90%);
}

#item-6{
    width: 250px;
    height: 250px;
    background: #BA90C6;
    transform: translate(550%,-50%);
}